@page "/SistemaIndex"
@inject HttpClient httpClient

<div class="card shadow">
    <div class="card-header">
        <h3>Sistemas</h3>
    </div>

    <div class="card-body">
        <form>
            <div class="input-group aling-items-end">
                <InputSelect class="form-select col-2" @bind-Value="op">
                    <option value="1">Sistemas Id</option>
                    <option value="2">Descripci&oacute;n</option>
                </InputSelect>

                <div class="flex-fill mx-2">
                    <div class="input-group">
                        <label class="input-group-text">B&uacute;squeda</label>

                        <div class="col-auto">
                            @switch (op)
                            {
                                case 1:
                                    <div class="input-group">
                                        <InputNumber @bind-Value="sistema.SistemaId" class="form-control"></InputNumber>
                                        <button type="button" class="btn btn-primary bi bi-search" @onclick="Buscar"></button>
                                    </div>
                                    break;
                                case 2:
                                    <div class="input-group">
                                        <InputText @bind-Value="sistema.DescripcionSistema" class="form-control"></InputText>
                                        <button type="button" class="btn btn-primary bi bi-search" @onclick="Buscar"></button>
                                    </div>
                                    break;
                            }
                        </div>
                    </div>
                </div>
                <a href="/SistemaCreate" class="btn btn-success mx-2 bi bi-plus-square"> Crear</a>

            </div>
        </form>
    </div>

    <div>
        <table class="table table-light table-hover table-striped table-bordered ">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Id</th>
                    <th scope="col" class="text-center">Nombre del Sistema</th>
                    <th scope="col" class="text-center">Descripci&oacute;n</th>
                    <th scope="col" class="text-center">Editar</th>
                    <th scope="col" class="text-center">Detalles</th>
                    <th scope="col" class="text-center">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ListaSistemas)
                {
                    <tr>
                        <td class="text-center">@item.SistemaId</td>
                        <td class="text-center">@item.NombreSistema</td>
                        <td class="text-center">@item.DescripcionSistema</td>
                        <td class="text-center"><a href="SistemaEdit/@item.SistemaId" class="btn btn-outline-danger bi bi-pencil-square"></a></td>
                        <td class="text-center"><a href="SistemaView/@item.SistemaId" class="btn btn-outline-primary bi bi-card-text"></a></td>
                        <td class="text-center"><a href="SistemaDelete/@item.SistemaId" class="btn btn-outline-danger bi bi-person-x"></a></td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="card-footer fw-bold">
            <p>Cantidad de Sistemas: @ListaSistemas.Count</p>
        </div>
    </div>
</div>

@code {
    public List<Sistemas> ListaSistemas = new List<Sistemas>();
    public Sistemas sistema = new Sistemas();
    public int op { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ListaSistemas = (await httpClient.GetFromJsonAsync<List<Sistemas>>("api/Sistemas"))!;
    }
    public async Task Buscar()
    {
        if (op == 1 && sistema.SistemaId > 0)
            ListaSistemas = (await httpClient.GetFromJsonAsync<List<Sistemas>>($"api/Sistemas/"))!.Where(t => t.SistemaId == sistema.SistemaId).ToList();
        else if (op == 2 && !string.IsNullOrEmpty(sistema.DescripcionSistema))
            ListaSistemas = (await httpClient.GetFromJsonAsync<List<Sistemas>>($"api/Sistemas"))!.Where(p => p.DescripcionSistema!.ToLower().Contains(sistema.DescripcionSistema.ToLower())).ToList();
        else
            ListaSistemas = (await httpClient.GetFromJsonAsync<List<Sistemas>>($"api/Sistemas"))!;
    }
}
