@page "/PrioridadView";
@page "/PrioridadView/{PrioridadId:int}";
@inject HttpClient httpClient

<PageTitle>Detalle Cliente</PageTitle>

<div class="card shadow">
    <div class="card-header">
        <h4>Detalles...</h4>
    </div>
    
    <div class="card-body">
        <div class="row">
            <p><strong>-ID:</strong> @prioridad.PrioridadId</p>
            <p><strong>-Descripci&oacute;n:</strong> @prioridad.Descripcion</p>
            <p><strong>-Dias Compromiso: </strong> @prioridad.DiasCompromiso</p>
        </div>
    </div>
    
    <div class="card-footer d-flex justify-content-end">
        <a href="PrioridadIndex" class="btn btn-outline-danger bi bi-box-arrow-left"> Volver</a>
    </div>
</div>

@code {
    [Parameter]
    public int PrioridadId { get; set; }
    public Prioridades prioridad = new Prioridades();

    protected override async Task OnInitializedAsync()
    {
        if (PrioridadId > 0)
        {
            var prioridadEncontrada = await httpClient.GetFromJsonAsync<Prioridades>($"api/Prioridades/{PrioridadId}");
            if (prioridadEncontrada != null)
            {
                prioridad = prioridadEncontrada;
            }
        }
    }
}
